<div class="upload-image">
  <div class="panel">
    <div class="panel-header">
      <p>Image Server</p>
    </div>
    <div class="container">
      <form
        id="form"
        [formGroup]="uploadFormGroup"
        (ngSubmit)="onSubmitUpload()"
      >
        <div class="input-group">
          <label for="files">Select files</label>
          <input
            #imageInput
            type="file"
            accept="image/*"
            id="files"
            multiple
            formControlName="files"
            (change)="processFile($event)"
          />
        </div>
        <!-- #bd0010 -->
        <button class="submit-btn btn-color-green" type="submit">Upload</button>
        <button class="submit-btn btn-color-blue" (click)="viewFiles()">View Files</button>

      </form>
    </div>
  </div>
</div>
