<div *ngIf="goalContent">
  <app-video-carousel [itemListData]="goalContent?.section1.card">
  </app-video-carousel>

  <app-text-banner [itemListData]="goalContent?.section2">
  </app-text-banner>

  <app-box-item-list
    [itemListData]="goalContent?.section3"
    numberofItem="4"
  ></app-box-item-list>

  <app-box-list-video
    [itemListData]="goalContent?.section4"
  ></app-box-list-video>

  <app-text-carousel
  [itemListData]="goalContent?.section5">

  </app-text-carousel>
  
  <app-box-item-list
  [itemListData]="goalContent?.section6"
  numberofItem="4"
  ></app-box-item-list>
</div>


