.page-container{
  h4{
    font-size: 22px;
    color: #1f272b;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
  }
  .page-description{
    background-color: #fff;
    padding: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    p{
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #eee;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #eee;
      white-space: pre-line;
    }
  }
}