<div class="admin-user" *ngIf="mainData && category">
  <button class="submit-btn" (click)="onSubmit()">Save</button>
  <form [formGroup]="myMainFormBuilder" novalidate>
    <div class="container" formArrayName="arrayData">
      <div
        class="row justify-content-center"
        *ngFor="let item of this.mainData.data.arrayData; let i = index"
        class="section-group" formGroupName="{{i}}"
      >
          <ng-container *ngIf="item.type == 'card'">
            <div class="container-array-text" formArrayName="cardGroup">
              <label class="label-input" for="name">{{ item.label }} </label>
              <div
                *ngFor="let item2 of item.cardGroup; index as id"
                class="div-spacer"
              >
                <div class="col-12">
                    <div [formGroupName]="id">
                      <label class="label-input" for="name"
                        >{{ item2.name }}
                      </label>
                      <input
                        class="input admin-content-input"
                        type="text"
                        id="{{ item2.name }}"
                        name="{{ item2.name }}"
                        formControlName="{{ item2.value }}"
                      />

                      <!-- <button *ngIf="item3.key == 'image'" (click)="onUpdateImage(section.key, item.name, item3.key, id)">Update Image</button> -->

                    </div>
                </div>
              </div>
            </div>
            <button (click)="onAddCard(item.key, i)">Add card</button>
            <button (click)="onRemoveCard(item.key, i)">remove card</button>

          </ng-container>

          <ng-container *ngIf="item.type == 'text'">
            <div class="col-12">
              <label class="label-input" for="name">{{ item.name }} </label>
              <input
                class="input"
                type="text"
                formControlName="value"
              />
              <!-- <button *ngIf="item.name == 'image'" (click)="onUpdateImage(section.key, item.name, null, null)">Update Image</button> -->
            </div>
          </ng-container>

          <ng-container *ngIf="item.type == 'paragraph'">
            <div class="col-12">
              <label class="label-input" for="name">{{ item.name }} </label>
             <textarea  class="input" type="text"
             formControlName="value" rows="4" cols="50">
             </textarea>
            </div>
          </ng-container>


          <ng-container *ngIf="item.type == 'image'">
            <div class="col-12">
              <label class="label-input" for="name">{{ item.name }} </label>
              <input
                class="input"
                type="text"
                formControlName="value"
              />
              <button (click)="onUpdateImage(i, item.name, null, null)">Update Image</button>
            </div>
          </ng-container>

                              

      </div>
    </div>
  </form>
</div>
