.admin-user{
    .div-spacer{
      margin: 15px;
    }
    .input{
      margin: 5px;
    }

    .container-array-text{
      // border: 1px solid black;
      margin: 5px;
    }
    .section-group{
      border: 1px solid black;
    }
}